---
layout: default
title: Blog
tagline: Samenwerken aan de Digitale Overheid.
lang: nl
---
<div class="blog-grid">
  {% for post in site.posts %}
  <div class="grid-item col-3">
    <a href="{{ post.url}}" class="card">
      {% if post.cover %}
      <div class="card__image" style="background-image: url('/img/posts/{{post.cover}}')">&nbsp;</div>
      {% else %}
      <div class="card__image" style="background-image: url('/img/default.png')">&nbsp;</div>
      {% endif %}
      <div class="card__content">
        <p class="card__title">{{ post.title }}</p>
        <p>{{ post.excerpt}}</p>
        <p class="reading-time" title="Estimated read time">
          <span>{{post.date | date: "%Y-%m-%d"}}</span>, <span>{{post.author}}</span>
          {% assign words = post.content | number_of_words %}
          {% if words < 360 %} (1 minuut) {% else %} ({{ words | divided_by: 180 }} minuten) {% endif %} </p>
            <p class="card__link">lees meer...</p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    getFeed("post__container");
  });
</script>