---
layout: default
title: Making Government Work In The Digital Age
lang: en
tagline: Making Goverment Work In The Digital Age.
permalink: /en/
---
<section class="text-center">
  <h2>We are Code for NL</h2>
  <p class="banner-text">Code for NL is the Dutch community of people working together on open, fair, and inclusive digital government and society.</p>
  <p class="banner-text">Our goal is the successful digital transformation of local governments, central government, and society as a whole.</p>
  <p class="banner-text">Code for NL is an independent spin-off of <a href="https://waag.org/">waag</a> and governing partner of the international Code for All network.</p>
</section>

{% include principles.html %}

<a id="community"></a>
{% include community.html %}