<footer>
  <div class="footer-item">
    {% for item in site.data.founders[page.lang] %}
    <div class="founder">
      <p>{{item.title}}</p>
      <a href="{{item.link}}"><img src="{{item.img}}"></a>
    </div>
    {% endfor %}
    
  </div>
  <div class="footer-item">
    <p>
      <a href="https://www.codefor.nl">{{site.data.blocks.website[page.lang]}}</a><br>
      {% if page.lang == "nl" %}
        <a href="{{ site.url }}/blog">{{site.data.blocks.blog[page.lang]}}</a><br>
        <a href="{{ site.url }}/communityprojects">{{site.data.blocks.communityprojects[page.lang]}}</a><br>
        <a href="{{ site.url }}/ai-met-impact">{{site.data.blocks.aiwithimpact[page.lang]}}</a><br>
        <!--<a href="{{ site.url }}/fellowships">{{site.data.blocks.fellowships[page.lang]}}</a><br>-->
        <a href="{{ site.url }}/vrijwilligers">{{site.data.blocks.volunteers[page.lang]}}</a><br>
      {% else %}
        <a href="{{ site.url }}/blog">{{site.data.blocks.blog[page.lang]}}</a><br>
        <a href="{{ site.url }}/{{page.lang}}/communityprojects">{{site.data.blocks.communityprojects[page.lang]}}</a><br>
        <a href="{{ site.url }}/{{page.lang}}/ai-met-impact">{{site.data.blocks.aiwithimpact[page.lang]}}</a><br>
        <!--<a href="{{ site.url }}/{{page.lang}}/fellowships">{{site.data.blocks.fellowships[page.lang]}}</a><br>-->
        <a href="{{ site.url }}/{{page.lang}}/vrijwilligers">{{site.data.blocks.volunteers[page.lang]}}</a><br>
      {% endif %}
      <a href="https://collecties.codefor.nl">{{site.data.blocks.collections[page.lang]}}</a><br>
      <a href="https://github.com/codefornl">Github</a><br>
      <a href="https://twitter.com/codefornl">Twitter</a><br>
      <a href="https://codefornl.slack.com">Slack</a><br>
    </p>
  </div>
  <div class="footer-item">
      <p>
        Stichting <b>Code for NL</b><br>
        {{{{site.data.blocks.commerce[page.lang]}} <a target="_blank" href="https://www.kvk.nl/orderstraat/product-kiezen/?kvknummer=69749477">69749477</a>
      </p>
      <!--
      <p>
        <b>{{site.data.blocks.postal[page.lang]}}</b><br>
      </p>
      -->
    </div>
</footer>
{% include script.html %}
