<div class="slab slab--gray billboard">
  <div class="grid-box">
    {% for heroin in site.data.heroins[page.lang] %}
    <div class="grid-item col-4">
      <div class="card">
        <div class="card__image" style="background-image: url('https://codefor.nl{{heroin.img}}');">
          &nbsp;
        </div>
        <div class="card-content">
          <p class="card__title">{{heroin.title}}</p>
          <p>{{heroin.content}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>