<div class="slab">
  <div class="grid-box">
    <div class="col-12 grid-item">
      <div class="banner banner--blue">
        <div class="banner__image-container" style="background-image: url('/img/meetups.png');">
          &nbsp;
        </div>
        <div class="grid-box">
          <div class="col-6 shift-6">
            <div class="banner__content" style="padding:2em;">
              <div class="banner__copy">
                <p><img src="img/logo/logo_white.svg" style="max-height:40px;"></p>
                <p>Wij organiseren met regelmaat meetups over publictech. Wil je meepraten of luisteren?</p>
              </div>
              <div class="banner__cta">
                <a href="https://www.meetup.com/Code-For-NL" class="button button--reverse banner__link">Meld je aan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>