<div class="slab">
  <div class="grid-box">
    <div class="col-12 grid-item">
      <div class="banner banner--red">
        <div class="banner__image-container" style="background-image: url('/img/tfnt.png');">
          &nbsp;
        </div>
        <div class="grid-box">
          <div class="col-6 shift-6">
            <div class="banner__content" style="padding:2em;">
              <div class="banner__copy">
                <p><img src="img/logo/logo_white.svg" style="max-height:40px;"></p>
                <p>Snap je dat tech belangrijk is, maar ben je zelf nog niet zo ingewijd als je zou willen? Neem dan
                  deel aan onze tech-for-non-tech sessies en leer stapsgewijs steeds beter begrijpen hoe je zelf
                  controle neemt.</p>
              </div>
              <div class="banner__cta">
                <a href="https://www.meetup.com/Code-For-NL" class="button button--reverse banner__link">Doe mee</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <section>
  <img src="/img/tfnt.png" class="tfnt-img">

  <div class="tfnt" style="display: none;">
    <a href="https://techtalks.codefor.nl" style="text-decoration: none">
    <div class="tfnt-line">
      <div class="tfnt-line-wrap">
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
      </div>
    </div>
    <div class="tfnt-line">
      <div class="tfnt-line-wrap" style="margin-left: -200px">
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
      </div>
    </div>
    <div class="tfnt-line">
      <div class="tfnt-line-wrap">
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
      </div>
    </div>
    <div class="tfnt-line">
      <div class="tfnt-line-wrap" style="margin-left: -200px">
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
        <div class="word color3">TECH</div>
        <div class="word color4">NON</div>
      </div>
    </div>
    <div class="tfnt-line">
      <div class="tfnt-line-wrap">
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
        <div class="word color1">TECH</div>
        <div class="word color2">FOR</div>
      </div>
    </div>
    </a>
  </div>
</section> -->

<!--section class="text-center">
  <p class="headline">
    {{ site.data.blocks.tfnt[page.lang]}}
  </p>
</section-->