.action-box {
    background: $color3;
    margin: 60px auto;
    padding: 20px 0;
    font-family: $header-font;
    color: $highlight-inverse;
}

.action-box__corona {
    background: $color4;
    margin: 60px auto;
    font-family: $header-font;
    color: $highlight-inverse;
}

.action-box__appathon {
    background: $color4;
    margin: 60px auto;
    font-family: $header-font;
    color: $highlight-inverse;
}

.action-box__action {
    line-height: 1.4em;
    padding: 100px 155px 40px;
}

.action-box__author {
    font-size: 24px;
    padding: 0px 198px 40px;

}

.action-box__text {
    font-size: 24px;
    padding: 0px 198px 40px;

}
.action-box__textappa {
    font-family: $body-font;
    font-size: 20px;
    padding: 0px 198px 40px;

}

.action-box__link {
    font-size: 32px;
    padding: 20px 20px 0 0;
    color: $text-light;
    text-align: right;
}

.action-box__link a:hover {
    color: $color4;
}


@media #{$media-xl} {
    .action-box__action {
        font-size: 64px;
    }
}

@media #{$media-l} {
    .action-box__action {
        font-size: 64px;
        line-height: 1.4em;
    }
    .action-box__textappa,
    .action-box__text,
    .action-box__author,
    .action-box__action {
        padding: 40px;
    }
}

@media #{$media-m} {
    .action-box__action {
        font-size: 56px;
        line-height: 1.4em;
    }
    .action-box__textappa,
    .action-box__text,
    .action-box__author,
    .action-box__action {
        padding: 60px;
    }
    .action-box__link {
        padding: 20px;
    }
}

@media #{$media-s} {
    .action-box__action {
        font-size: 28px;
        line-height: 1.4em;
    }
    .action-box__textappa,
    .action-box__text,
    .action-box__author,
    .action-box__action {
        padding: 20px;
    }
    
    .action-box {
        margin: 10px auto 0;
    }
}

@media #{$media-xs} {
    .action-box__action {
        line-height: 1.4em;
        font-size: 28px;
    }
    .action-box__textappa,
    .action-box__text,
    .action-box__author,
    .action-box__action {
        padding: 20px;
    }

    .action-box {
        margin: 10px auto 0;
    }
}
