
.action-box {
    background: $color3;
    margin: $header-margin;
    padding: 20px 0;
    font-family: $header-font;
    color: $highlight-inverse;
    &.action-appathon-statement-announcement {
        background-color: darken($color3, 20);
    }
}

.action-box__corona {
    background: $color4;
    margin: $header-margin;
    color: $highlight-inverse;
}

.action-box__appathon {
    background: $color4;
    margin: $header-margin;
    color: $highlight-inverse;
    max-width: 900px;
    margin: auto;
}

.action-box__action {
    line-height: 1.4em;
    padding: 100px 155px 40px;
    font-family: $header-font;
    max-width: 900px;
    margin: auto;
    span {
        quotes: '\201c' '\201d';
        &::before{
            content: open-quote;
        }
        &::after {
            content: close-quote;
        }
    } 
}

.action-appathon-statement-announcement .action-box__action {
    font-size: $font-size-large;
}

.action-box__author {
    font-size: $font-size-medium;
    padding: 0px 198px 40px;
    max-width: 900px;
    margin: auto;
}

.action-box__text {
    font-size: $font-size-medium;
    padding: 0px 198px 40px;
    max-width: 900px;
    margin: auto;
}
.action-box__textappa {
    font-size: $font-size-medium;
    padding: 0px 198px 40px;

}

.action-box__link {
    font-size: $font-size-medium;
    padding: 20px 20px 0 0;
    color: $text-light;
    text-align: right;
}

.action-box__link a:hover {
    color: darken($text-light, 20);
}


@media #{$media-xl} {
    .action-box__action {
        font-size: $font-size-huge;
    }
    .action-appathon-statement-announcement .action-box__action {
        font-size: $font-size-large;
    }
}

@media #{$media-l} {
    .action-box__action {
        font-size: $font-size-huge;
        line-height: 1.4em;
    }
    .action-appathon-statement-announcement .action-box__action {
        font-size: $font-size-large;
    }
    .action-box__textappa,
    .action-box__text,
    .action-box__author,
    .action-box__action {
        padding: 40px;
    }
}

@media #{$media-m} {
    .action-box__action {
        font-size: $font-size-large;
        line-height: 1.4em;
    }
    .action-appathon-statement-announcement .action-box__action {
        font-size: $font-size-large;
    }
    .action-box__textappa,
    .action-box__text,
    .action-box__author,
    .action-box__action {
        padding: 60px;
    }
    .action-box__link {
        padding: 20px;
    }
}

@media #{$media-s} {
    .action-box__action {
        font-size: $font-size-medium;
        line-height: 1.4em;
    }
    .action-appathon-statement-announcement .action-box__link {
        font-size: $font-size-medium;
    }
    .action-appathon-statement-announcement .action-box__action {
        font-size: $font-size-medium;
    }
    .action-box__textappa,
    .action-box__text,
    .action-box__author,
    .action-box__action {
        padding: 20px;
    }
    
    .action-box {
        margin: 10px auto 0;
    }
}

@media #{$media-xs} {
    .action-box__action {
        line-height: 1.4em;
        font-size: $font-size-medium;
    }
    .action-appathon-statement-announcement .action-box__link {
        font-size: $font-size-medium;
    }
    .action-appathon-statement-announcement .action-box__action {
        font-size: $font-size-medium;
    }
    .action-box__textappa,
    .action-box__text,
    .action-box__author,
    .action-box__action {
        padding: 20px;
    }

    .action-box {
        margin: 10px auto 0;
    }
}
