.blog-box {
    background: $color3;
    margin: $header-margin;
    font-family: $header-font;
    color: $highlight-inverse;
    .reading-time {
        padding: 0 80px 12px;
        text-align: left;
        display: block;
        font-family: $font;
        font-style: italic;
    }
}

.blog-box__title {
    line-height: 1.4em;
    padding: 100px;
}
.blog {
    margin: 0;

    hr {
        margin: 1.5em 0;
        text-align: center;
        border: none;
    }

    hr:after {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $highlight-inverse;
        margin: 0 0.4em;
    }

    hr:before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $highlight-inverse;
        margin: 0 0.4em;
    }
}

@media #{$media-xl} {
    .blog-box__title {
        font-size: $font-size-huge;
    }
    .blog {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media #{$media-l} {
    .blog-box__title {
        font-size: $font-size-huge;
        line-height: 1.4em;
        padding: 80px 160px 40px;
    }
    .blog {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media #{$media-m} {
    .blog-box__title {
        font-size: $font-size-huge;
        line-height: 1.4em;
        padding: 60px 120px;
    }
    .blog {
        padding-left: 60px;
        padding-right: 60px;
    }
    li {
        a {
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }
    }
}

@media #{$media-s} {
    .blog-box__title {
        font-size: $font-size-large;
        line-height: 1.4em;
        padding: 40px 80px;
    }
    .blog {
        padding-left: 40px;
        padding-right: 40px;
    }
    .blog-box {
        margin: 10px auto 0;
    }
    li {
        a {
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }
    }
}

@media #{$media-xs} {
    .blog-box__title {
        line-height: 1.4em;
        padding: 28px 60px;
        font-size: $font-size-medium;
    }
    .blog-box {
        margin: 10px auto 0;
    }
    li {
        a {
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }
    }
}
