@import 'main';

.green-text {
    color: $color-blue;
}

.orange-text {
    color: $color-red;
}

.red-text {
    color: $color-dark-red;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}

.wrapper {
    box-sizing: border-box;
    max-width: 1140px;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
}

.global-header .menu-item.button,
.global-header .menu-item.banner__action,
.global-header .card--large .menu-item.card__link,
.card--large .global-header .menu-item.card__link {
    font-size: 0.875rem;
    line-height: 1rem;
    margin-top: 0.45em;
    padding: 0.5rem 0.75rem;
}


.global-header::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.global-header a.button--primary,
.global-header a.banner__action--primary,
.global-header .banner__action--primary.card__link,
.global-header .banner__action--primary.card-link,
.global-header .button--primary.card__link,
.global-header .button--primary.card-link {
    color: #fff;
}

.global-header-buttons a.button,
.global-header-buttons a.banner__action,
.global-header-buttons .banner__action.card__link,
.global-header-buttons .banner__action.card-link,
.global-header-buttons .button.card__link,
.global-header-buttons .card--large .card__link,
.card--large .global-header-buttons .card__link,
.global-header-buttons .button.card-link {
    margin-left: 0.5rem;
    margin-right: 0;
}

.template-home .home-hero-image {
    margin-bottom: -2rem
}

.template-home .home-hero-image {
    @include media($tablet-up) {
        position: absolute;
        bottom: -1rem;
        margin-bottom: 0
    }
}

.template-home .home-hero-image {
    @include media($midscreen-up) {
        position: relative;
        bottom: 0;
        margin-bottom: -2rem
    }
}

.template-home .home-hero::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.template-home .home-hero {
    background-color: #dfdfdf;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.template-home .home-hero-title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.15em;
    margin-bottom: 1rem;
    font-weight: 400;
}

.template-home .home-hero-title {
    text-align: center;
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 1.25em;
    margin-bottom: 1rem;
    font-weight: 400;
}

.template-home .home-hero-content {
    padding: 1rem 20px;
    position: relative;
}

.template-home .home-hero-lead-in {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.3em;
    margin-bottom: 1rem;
    font-weight: 400;
}

.template-home .home-hero-lead-in {
    text-align: center;
    font-weight: 400;
}

.template-home .home-hero-content .grid-box {
    @include media($tablet-up) {
        min-height: 20rem;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }
}

.border-top-slab::before,
.border-bottom-slab::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    background-color: #dfdfdf;
}

.border-top-slab,
.border-bottom-slab {
    position: relative;
}

.hero__content {
    padding-bottom: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1.25rem;
}