footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    // background: $secondary-inverse;
    padding: 3em;
    // color: $text-light;
    border-top: 1px solid $border-color;

    .footer-item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1 0 auto;
        margin: 1em;
        
        text-align: left;
    }
    
}
@media #{$media-xl}{
    .footer-item:not(:last-child) {
        border-right: 1px solid $border-color;
    }
}
@media #{$media-l}{
    .footer-item:not(:last-child) {
        border-right: 1px solid $border-color;
    }
}

@media #{$media-m}{
    .footer-item:not(:last-child) {
        border-right: 1px solid $border-color;
    }
}

@media #{$media-s} {
    footer {
        display: block;
        .footer-item:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }
    }
}

@media #{$media-xs} {
    footer {
        display: block;
        .footer-item:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }
    }
}
