.stats-list {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;

    .stat {
        flex: 1;



        .stat-number {
            font-family: $header-font;
            font-size: $font-size-huge;
            margin: 0.3em 0;
        }

        .stat-text {
            line-height: 1.4em;
            color: $color4;
        }
    }
}

@media #{$media-s} {
    .stats-list {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
}

@media #{$media-xs} {
    .stats-list {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
}
