@import "https://fonts.googleapis.com/css?family=Anton&amp;display=swap";


$font: "Comic Sans MS", cursive, sans-serif;//"Roboto", "Roboto", sans-serif;

$font-size: 12px;
$font-size-medium: ($font-size * 2);
$font-size-large: ($font-size * 4);
$font-size-huge: ($font-size * 5);

$header-font: "Anton", sans-serif;
$header-case: uppercase;
$header-margin: 60px auto;
/* Coolors Exported Palette - coolors.co/e15532-ec8c39-70c09d-666666-cccccc */
$color1: #DF5531;
$color2: #EB8C3A;
$color3: #71BF9D;
$color4: #777876;
$color5: #fff;
$body-color: transparent;
$primary-color: $color1;
$primary-inverse: $color5;

$secondary-color: $color3;
$secondary-inverse: $color4;

$highlight-color: $color2;
$highlight-inverse: $color5;

$border-color: #ccc;
$border-radius: 5px;

$text-light: $color5;
$text-dark: #555;



