---
layout: default
title: Corona
tagline: Samenwerken aan de Digitale Overheid.
lang: nl
permalink: /corona
---
<div class="slab">
    <div class="grid-box">
        <div class="col-12">
            <p>
                De impact van het corona virus op de Nederlandse samenleving is ongekend groot. De maatregelen die nu
                worden genomen zullen jarenlange, diepgaande gevolgen hebben. Niet alleen voor onze gezondheidzorg en
                economie, maar ook voor onze democratie en grondrechten.
            </p>
            <p>
                Code for NL maakt zich hard voor een publieke digitale infrastructuur die het snel en eenvoudig delen
                van essentiele data in het publieke domein mogelijk maakt. Die mensen en initiatieven rond gelijke
                spelregels en publieke code aan elkaar verbindt En die onze grondrechten als privacy optimaal beschermd.
            </p>
            <p>
                Onze samenleving en democratie hebben transparante en solidaire publieke infrastruur nodig. Een sterk
                public tech netwerk brengt overheid en samenleving samen. Om ideeen en oplossingen in een open gesprek
                met elkaar te delen en van elkaar te leren.
            </p>
        </div>
    </div>
</div>
<div class="slab">
    <div class="grid-box">
        <div class="col-12">
            <h1>CORONA DATA</h1>
            <div class="text-center-center">
                <p class="headline">
                    Om in tijden van crisis als maatschappij wendbaar te zijn is toegang tot informatie en data
                    essentieel. Code for NL ondersteund alle initatieven om deze data structureel en machine leesbaar
                    publiek toegankelijk te maken.
                </p>
                <div>
                    {% for item in site.data.corona.apis[page.lang] %}
                    <div class="panel">
                        <h4>{{item.title}}</h4>
                        <p>{{item.tagline}}</p>
                        <a target="new" href="{{item.link}}" class="button">{{item.link_text}}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slab">
    <div class="grid-box">
        <div class="col-12">
    <h1>TRACKERS & TRACERS</h1>
    <div class="text-center-center">
        <p class="headline">
            Privacy en virus bestrijding gaan hand in hand - het zijn geen tegenstellingen, zoals soms wordt beweerd.
            Wij zien kansen voor de vele open alternatieven om nu hun waarde voor de democratie en onze gezondheid te
            bewijzen.<br /><br />
        </p>
        <div class="grid-box">

            {% for item in site.data.corona.trackers[page.lang] %}
            <div class="col-3">
                <a target="new" href="{{item.link}}"><img src="{{item.img}}"></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
</div>
{% include stats.html %}
{% include slack.html %}
