<!DOCTYPE html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body>
    {% include nav.html %}
    <header>
        <div class="blog-box">
            <div class="blog-box__title">
                "<span>{{page.title}}</span>"
                <br>
            </div>
            
            {% if page.author %}
            <div class="reading-time" title="Leestijd">
                <div>Gepubliceerd op: <span>{{page.date | date: "%Y-%m-%d"}}</span></div>
                <div>Door: <span>{{page.author}}</span></div>
                {% assign words = page.content | number_of_words %}
                <div>
                    {% if words < 360 %}
                    Leestijd ongeveer 1 minuut
                    {% else %}
                    Leestijd ongeveer {{ words | divided_by: 180 }} minuten
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </header>
    
    <section class="blog">
        {{ content }}
    </section>
    {% include community.html %}
    {% include footer.html %}
</body>
</html>