<!DOCTYPE html>
<html lang="{{ page.lang }}">

{% include head.html %}
<body>
    {% include nav.html %}
    <header>
        <div class="blog-box">
          <div class="blog-box__title">"<span>{{page.title}}</span>"</div>
        </div>
    </header>
    <section class="blog">
        {% if page.author %}
        <p class="reading-time text-center" title="Estimated read time">
    
            <span>{{page.date | date: "%Y-%m-%d"}}</span>, <span>{{page.author}}</span>
            {% assign words = page.content | number_of_words %}
            {% if words < 360 %}
            (1 minuut)
            {% else %}
            ({{ words | divided_by: 180 }} minuten)
            {% endif %}
        </p>
        {% endif %}

        {{ content }}
    </section>
    {% include community.html %}
    {% include footer.html %}
</body>

</html>