<!DOCTYPE html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body class="template-primary-page">

  <section class="hero">
    {% include nav.html %}
    <div class="hero__content">
      <div class="grid-box">
        <div class="col-7">
            <h1 class="hero-title">{{ page.title}}</h1>
            <p class="hero-lead-in">{{ page.tagline}}</p>
        </div>
      </div>
    </div>
  </section>

  <div class="page-content">
    <main role="main">
      {{ content }}
    </main>
  </div>
  {% include footer.html %}
</body>
</html>
