<!DOCTYPE html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body>
  {% include nav.html %}
  {% include action.html %}
  {{ content }}
  {% include heroins.html %}

  <div class="action-box">
    {% assign action = site.data.blocks.corona[page.lang] %}
    <div class="action-box__action">&quot;<span>{{action.title}}</span>&quot;</div>
    <div class="action-box__link"><span><a href="{{action.link}}" class="action-box__link">{{ action.link_title }}</a></span></div>
  </div>

  <a id="tfnt"></a>
  {% include tfnt.html %}
  <a id="meetups"></a>
  {% include meetups.html %}
  <a id="organisatie"></a>
  {% assign people = site.data.mensen | where_exp: "mens", "mens.groups contains 'board'" %}
  {% include people.html %}
  {% include footer.html %}
</body>
</html>
